/* Show 2 thumbnails on About Simon page on screens > 479px in portrait orientation */ 
@media (orientation: portrait) and (min-width: 480px) {
	.thumbnail-1,
	.thumbnail-2 {
		padding: 4px;
		display: inline-block;
		float: left;
		width: 48%;
		height: auto;
	}

	.thumbnail-3 {
		display: none;
	}
}

/* Show 1 thumbnail on About Simon page on screens < 479px in portrait orientation */ 
@media (orientation: portrait) and (max-width: 479px) {
	.thumbnail-1 {
		padding: 2%;
		display: block;
		width: 50%;
		height: auto;
		margin: 0 auto;
	}

	.thumbnail-2,
	.thumbnail-3 {
		display: none;
	}
}


/* Portrait mode OR smart phone in landscape mode */
@media (orientation: portrait), (orientation: landscape) and (min-width: 480px) and (max-width: 767px) {
/* GENERAL */

	html, body {
		width: 100%;
		height: 100%;
	}

/* LAYOUT */

	.container {
		height: auto;
	}

	.content {
		width: 98%;

	}
	.column-a {
		width: 100%;
		margin: 0 auto;
		display: block;
		height: auto;
		padding-bottom: 15%;
	}

	.column-b-mobile {
		width: 100%;
		margin: 0 auto;
		display: inline-block;
	}

	.column-b {
		display: none;
	}

	
/* HEADER */

	.heading {
		display: block;
		height: 3em;
	}

	header {
		height: 3em;
		background-color: rgba(25, 25, 25, 0.9);
	}

	.title-mobile-front {
		position: absolute;
		top: 70%;
		width: 100%;
		text-align: center;
		background-color: none;
	}
	#fittext-title {
		padding-top: 5px;
		width: 100%;
		color: #333;
	}

	#fittext-title-top {
		padding: 5px 10px 0 0;
		color: #b2aea5;
	}

	.title-mobile {
		display: inline-block;
		width: 75%;
		max-width: 75%;
		float: right;
		text-align: right;
	}

	.title-desktop {
		display: none;
	}

	.landscape-main-content {
		display: none;
	}

	h2 {
		margin-top: 30px;
	}

/* MOBILE NAVIGATION */
	
	.desktop-nav {
		display: none;
	}

	nav {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	#pull {
		height:3em;
		line-height:3em;
		display:block;
		margin-bottom:0;
		padding-left:10px;
		border:0;
		position:relative;
	}

	.pullitem-menu-symbol,
	.pullitem-text, 
	#pull a {
		font-weight:600;
		text-decoration:none;
		font-family: 'Quicksand', sans-serif;
		color: #b2aea5;
	}

	.pullitem-menu-symbol {
		font-size: 1.7em;
	}

	.pullitem-text {
		font-size: 1.1em;
	}

	#pull .left {
		float:left;
		padding-right:10px;
		font-size:18px;
	}


	#mobnav,
	#mobnav ul,
	#mobnav li,
	#mobnav a {
		z-index:999;
		margin:0;
		padding:0;
		border:0;
		list-style:none;
		font-weight:400;
		text-decoration:none;
		line-height:1;
		font-family: 'Quicksand', sans-serif;
		display: block;
	}

	#mobnav a {
		line-height:1.3
	}

	#mobnav {
		width:100%
	}

	#mobnav > ul > li > a {
		font-family: 'Quicksand', sans-serif;
		font-weight: 400;
		color: #333;
		font-size: 1.2em;
		padding-right:40px;
		background:rgba(212, 212, 212, 0.8); /* 0.1 */
		border-bottom: 1px solid #141414;
		display: block;
	}

	#mobnav > ul > li > a > span {
		padding:7px;
		font-size:1em;
		font-weight:400;
		display: block;
	}

	#mobnav > ul > li > a:hover {
		text-decoration:none
	}

	#mobnav > ul > li.active {
		border-bottom:none
	}

	#mobnav > ul > li.active > a {
		color: #333;
	}


/* FOOTER */

	.social-media {
		padding-top: 0;
	}

	.social-icon {
		padding: 2px 5px 3px 5px;
	}

	.copyright {
		padding-top: 2px;
	}

	footer.fixed {
		background-color: rgba(25, 25, 25, 0.9);
	}



/* FORM */

	input[type=text],
	input[type=email],
	textarea {
		width: 90%;	
	}

}


/* Smart phone in landscape mode */
@media (orientation: landscape) and (min-width: 480px) and (max-width: 767px) {
	
	h2 {
		margin-top: 30px;
	}

	.text-block p {
		font-size: 0.9em;
	}

/* LAYOUT */

	.container {
		height: auto;
		/* Credit: Dark Wall background image is from Subtle Patterns: http://subtlepatterns.com */
	}
	
	.column-b {
		display: none;
	}


	.column-b-mobile {
		width: 100%;
		margin: 0 auto;
		display: inline-block;
	}

/* HEADER */

	.heading {
		display: block;
		height: 10%;
		min-height: 65px;
	}

	header {
		background-color: rgba(25, 25, 25, 0.9);
	}

	.title-mobile-front {
		top: 60%;
	}
	
/* MOBILE NAVIGATION */
	
	#mobnav ul {
		width: 100%;
		display: block;
	}
	#mobnav > ul > li {
		display:inline-block;
		width: 50%;
		float: left;
	}

	#mobnav > ul > li > a {
		background:rgba(212, 212, 212, 0.8); /* 0.4 */
	}

	#mobnav > ul > li > a:nth-child(2n+1) {
		border-left: 1px solid #141414;;
	}

/* FOOTER */

	footer.sticky {
		height: 15%;
		background-color: rgba(25, 25, 25, 1);
	}

	footer.fixed {
		height: 15%;
		background-color: rgba(25, 25, 25, 0.9);
	}

	/* ABOUT SIMON */

	.thumbnail-1,
	.thumbnail-2 {
		padding: 4px;
		display: inline-block;
		float: left;
		width: 48%;
		height: auto;
	}

	.thumbnail-3 {
		display: none;
	}

}


/* Landscape mode larger than smart phone */
@media (orientation:landscape) and (min-width: 768px){
/* GENERAL */

	html {
		background: none;
	}

	html, body {
		width: 100%;
		height: 100%;
	}

/* LAYOUT */

	.container {
		height: 100%;
		min-height: 100%;
		height: auto !important;
		margin: 0 auto -10%;
		/* Credit: Dark Wall background image is from Subtle Patterns: http://subtlepatterns.com */
	}

	.content {
		padding-top: 45px;
		width: 80%;
		display: block;
	}

	.column-a {
		display: inline-block;
	 	width: 66%;
		height: auto;
		float: left;
		padding-bottom: 15%;
	}

	.column-b {
		display: inline-block;
		width: 32%;
		float: left;
	}

	.column-b-mobile {
		display: none;
	}


/* HEADER */

	.heading {
		display: block;
		height: 10%;
		min-height: 65px;
	}

	header {
		height: 10%;
		min-height: 65px;
		background-color: rgba(25, 25, 25, 0.9); /* 0.7 */
	}
	
	.title-desktop {
		display: inline;
		background-color: #191919;
	}

	h1 {
		text-align: right;
		padding: 30px 10px 0 0;
		color: #b2aea5;
	}

	h1::first-letter {
		font-size: 1.025em;
	}

	.title-mobile-front,
	.title-mobile {
		display: none;
	}

	

/* DESKTOP NAVIGATION */
	
	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		position: absolute;
		z-index: 999;
		top: 0;
		left: 100px;
		padding: 0;
		height: auto;
	}

	.hidden-menu {
		background-image:url('../images/nav.png'); 
		height: auto;
		display: none;
		width: 170px;
	}

	.menu-tag {
		float: left;
		clear: both;
		width: 170px;
		margin: 0;
		padding: 15px 0 15px 0;
		text-align: center;
		background-color: rgba(70, 98, 15, 0.7);
		font-family: 'Quicksand', sans-serif;
		font-size: 1.5em;
		font-weight: 400;
		color: #b2aea5;
		cursor: pointer;
	}

	nav {
		height: 100%;
	}

	nav ul {
	    width: 100%;
	    padding: 0;
	    opacity: 1.0;
	    height: 100%;
	    margin: 0;
	}
	nav ul li {
	    list-style: none;
	    font-family: 'Quicksand', sans-serif;
	    font-weight: 400;
	    color: #b2aea5;
	    font-size: 1.1em;
	    text-align: right;
	    padding: 15px 0 15px 0;	    
	}

	nav a {
	    color: #b2aea5;
	}

	.menuitem {
	    padding-right: 5px;
	}

	div[class$="-border"] {
		border-bottom: 5px solid #46620f;
		visibility: hidden;
	}

	/* 
	when hovering over .menuitem element, if adjacent element is 
	#simon-border (etc), make border visible. CSS sibling selectors. 
	*/
	.menuitem:hover + .home-border,
	.menuitem:hover + .simon-border,
	.menuitem:hover + .store-border,
	.menuitem:hover + .gallery-border,
	.menuitem:hover + .creative-commons-border,
	.menuitem:hover + .contact-border {
	    visibility: visible;
	}


/* FOOTER */

	.social-media {
		padding-top: 5px;
	}

	.social-icon {
		padding: 5px;
	}

	.copyright {
		padding-top: 5px;
	}

	footer.fixed {
		background-color: rgba(25, 25, 25, 0.9); /* 0.7 */

	}


/* FRONT PAGE IMAGE */

	.landscape-main-content {
		display: table;
		height: 100%;
	}

	.centred {
	  display: table-cell;
	  vertical-align: middle;
	  width: 100%;
	}

	.centred img {
		width: 100%;
	    height: auto;
	}


/* FORM */


	input[type=text],
	input[type=email],
	textarea {
		width: 75%;
		background-color: #bbb;
	}

	.icons {
		position: absolute;
		top: 40%;
	}

/* ABOUT SIMON */

	.about-page-image {
		margin: 0 auto;
		width: 90%;
		display: block;


	}

}


@media (orientation: landscape) and (max-width: 924px) {
	h1 {
		font-size: 1.7em;
	}
}

@media (orientation: landscape) and (min-width: 925px) {
	h1 {
		font-size: 2em;
	}
}
/* Show 3 thumbnails on About Simon page on screens > 768px and < 1024px */ 
@media (min-width: 768px) and (max-width: 1024px) {
	
	.column-a {
		width: 100%;
		margin: 0 auto;
		display: block;
		height: auto;
		padding-bottom: 15%;
	}
	.column-b {
			display: none;
		}
	.column-b-mobile {
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	

	.thumbnail-1,
	.thumbnail-2,
	.thumbnail-3 {
		padding: 4px;
		display: inline-block;
		float: left;
		width: 32%;
		height: auto;
	}

	.icons {
		position: relative;
	}
}

