/*@media only screen and (orientation:portrait) , screen and (max-width: 850px), screen and (max-device-width: 850px){*/
@media only screen and (orientation:portrait) {
	/* GENERAL */

	html { 
	  background: url(../images/frontpage/bg3.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  background-color: #121214;
	}

	html, body {
		width: 100%;
		height: 100%;
	}

	/* HEADER */

	header {
		height: 3em;
		background-color: #121214;
	}

	.title-mobile {
		position: absolute;
		top: 70%;
		width: 100%;
		text-align: center;
	}
	#fittext-title {
		padding-top: 5px;
		width: 100%;
	}

	.title-desktop {
		display: none;
	}

	.landscape-main-content {
		display: none;
	}



	/* MOBILE NAVIGATION */
	
	.desktop-nav {
		display: none;
	}

	nav {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	#pull {
		height:3em;
		display:block;
		margin-bottom:0;
		padding-left:10px;
		border:0;
		/*background:rgba(212, 212, 212, 0.1);*/
		position:relative
	}

	.pullitem, 
	#pull a {
		font-weight:600;
		text-decoration:none;
		font-family: 'Quicksand', sans-serif;
		color: #333;
		color: #b0b0b0;
	}

	.pullitem {
		line-height:3em;
		font-size: 1em;
	}

	#pull .left {
		float:left;
		padding-right:10px;
		font-size:18px;
	}

	#mobnav,
	#mobnav ul,
	#mobnav li,
	#mobnav a {
		display:block;
		z-index:999;
		margin:0;
		padding:0;
		border:0;
		list-style:none;
		font-weight:400;
		text-decoration:none;
		line-height:1;
		font-family: 'Quicksand', sans-serif;
		position:relative
	}

	#mobnav a {
		line-height:1.3
	}

	#mobnav {
		width:100%
	}

	#mobnav > ul > li > a {
		font-family: 'Quicksand', sans-serif;
		font-weight: 400;
		/*color: #b2aea5;*/
		color: #333;
		font-size: 1.2em;
		padding-right:40px;
		display:block;
		background:rgba(212, 212, 212, 0.1);
		border-bottom: 1px solid #141414;
	}

	#mobnav > ul > li > a > span {
		padding:7px;
		display:block;
		font-size:1em;
		font-weight:400
	}

	#mobnav > ul > li > a:hover {
		text-decoration:none
	}

	#mobnav > ul > li.active {
		border-bottom:none
	}

	#mobnav > ul > li.active > a {
		/*color: #b2aea5;*/
		color: #333;
	}


/* FOOTER */

}


@media only screen and (orientation:landscape) {
	/* GENERAL */

	html {
		background: none;
	}

	html, body {
	width: 100%;
	height: 100%;
	background-color: #121214;
}

	/* HEADER */

	header {
		text-align: left;
		height: 10%;
	}
	
	.title-desktop {
		display: inline;
	}

	h1 {
		text-align: right;
		font-size: 2em;
		padding: 30px 10px 0 0;
	}
	h1::first-letter {
		font-size: 1.025em;
	}

	.title-mobile {
		display: none;
	}

	

	/* DESKTOP NAVIGATION */
	
	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		position: absolute;
		z-index: 999;
		top: 0;
		left: 100px;
		padding: 0;
		height: auto;
	}

	.hidden-menu {
		background-image:url('../images/nav.png'); 
		height: auto;
		display: none;
		width: 170px;
	}

	.menu-tag {
		float: left;
		clear: both;
		width: 170px;
		margin: 0;
		padding: 15px 0 15px 0;
		text-align: center;
		background-color: rgba(70, 98, 15, 0.7);
		font-family: 'Quicksand', sans-serif;
		font-size: 1.5em;
		font-weight: 400;
		color: #b2aea5;
		cursor: pointer;
	}

	nav {
		height: 100%;
	}

	nav ul {
	    width: 100%;
	    padding: 0;
	    opacity: 1.0;
	    height: 100%;
	    margin: 0;
	}
	nav ul li {
	    list-style: none;
	    font-family: 'Quicksand', sans-serif;
	    font-weight: 400;
	    color: #b2aea5;
	    font-size: 1.1em;
	    text-align: right;
	    padding: 15px 0 15px 0;
	    
	}

	nav a {
	    color: #b2aea5;
	}

	.menuitem {
	    padding-right: 5px;
	}

	div[class$="-border"] {
		border-bottom: 5px solid #46620f;
		visibility: hidden;
	}

	/* 
	when hovering over .menuitem element, if adjacent element is 
	#simon-border (etc), make border visible. CSS sibling selectors. 
	*/
	.menuitem:hover + .home-border,
	.menuitem:hover + .simon-border,
	.menuitem:hover + .store-border,
	.menuitem:hover + .gallery-border,
	.menuitem:hover + .creative-commons-border,
	.menuitem:hover + .contact-border {
	    visibility: visible;
	}


	

	.main-content {
		top: 10%;
		height: 80%;
	}

	.main {
		top: 10%;
		padding-bottom: 10%;
	}


	/* FRONT PAGE IMAGE */

	.landscape-main-content {
		display: table;
		height: 100%;
	}

	.centred {
	  display: table-cell;
	  vertical-align: middle;
	  width: 100%;
	}

	.centred img {
		width: 100%;
	    height: auto;

	}
}

@media only screen and (orientation:landscape) , screen and (max-width: 849px), screen and (max-device-width: 849px){
	h1 {
		font-size: 1.7em;
	}
}



