/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}




/* WIDTH SETTINGS */

header,
footer,
.container,
.main-content {
	width: 100%;

}


/* LAYOUT */

.main-content {
	position: absolute;
}

/* ICON FONTS */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.screen-reader-text {
	position:absolute;
	top:-9999px;
	left:-9999px
}


.icon-upload, .icon-menu, .icon-menu-2, .icon-mail, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-feed, .icon-paypal, .icon-cart, .icon-remove, .icon-images, .icon-home {
	display: inline-block;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-upload:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e001";
	padding-right: 10px;
}
.icon-menu-2:before {
	content: "\e002";
}
.icon-mail:before {
	content: "\e003";
}
.icon-google-plus:before {
	content: "\e004";
}
.icon-facebook:before {
	content: "\e005";
}
.icon-twitter:before {
	content: "\e006";
}
.icon-feed:before {
	content: "\e007";
}
.icon-paypal:before {
	content: "\e008";
}
.icon-cart:before {
	content: "\e009";
}
.icon-remove:before {
	content: "\e00a";
}
.icon-images:before {
	content: "\e00b";
}
.icon-home:before {
	content: "\e00c";
}
.icon-facebook:hover {
	color: #3B5998;
}
.icon-google-plus:hover {
	color: #f2321c;
}
.icon-feed:hover {
	color: #ff9600;
}
.icon-mail:hover {
	/*color: #b2aea5;*/
	color: #39b54a;
}



/* HEADER */

header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Julius Sans One', serif;
	font-weight: 400;
	color: #333;
}

h1::first-letter {
	font-size: 1.025em;
}

/* FOOTER */

.social-media {
/*	padding-top: 5px;
*/	text-align: center;
}

.social-icon {
	color: #b0b0b0;
/*	padding: 5px;
*/	font-size: 1.2em;
}

.copyright {
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	color: #b0b0b0;
	text-align: center;
/*	padding-top: 5px;
*/}

	/* FIXED FOOTER */

	footer.fixed {
		position: fixed;
		bottom: 0;
		background-color: #191919;
		width: 100%;
		height: 10%;
		text-align: center;
		margin: 0 auto;
		display: block;

	}

	footer.fixed p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #555;
		padding-top: 15px;
	}

	/* STICKY FOOTER */

	.container {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -10%;
	}

	footer, .push {
		height: 10%;
	}

	footer {
		background-color: #121214;
		text-align: center;
		margin: 0 auto;
		display: block;
	}


	footer p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #555;
		padding-top: 15px;
	}

