/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}




/* WIDTH SETTINGS */

header,
footer,
.container,
.main-content,
.container {
	width: 100%;

}


/* LAYOUT */

.main-content {
	position: absolute;
}

.container {
	/*background-color: #121214;*/
	height: auto;
	background: url('../images/dark_wall.png');
	/* Credit: Dark Wall background image is from Subtle Patterns: http://subtlepatterns.com */
}

/* ICON FONTS */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.screen-reader-text {
	position:absolute;
	top:-9999px;
	left:-9999px
}


.icon-upload, .icon-menu, .icon-menu-2, .icon-mail, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-feed, .icon-paypal, .icon-cart, .icon-remove, .icon-images, .icon-home {
	display: inline-block;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-upload:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e001";
	padding-right: 10px;
}
.icon-menu-2:before {
	content: "\e002";
}
.icon-mail:before {
	content: "\e003";
}
.icon-google-plus:before {
	content: "\e004";
}
.icon-facebook:before {
	content: "\e005";
}
.icon-twitter:before {
	content: "\e006";
}
.icon-feed:before {
	content: "\e007";
}
.icon-paypal:before {
	content: "\e008";
}
.icon-cart:before {
	content: "\e009";
}
.icon-remove:before {
	content: "\e00a";
}
.icon-images:before {
	content: "\e00b";
}
.icon-home:before {
	content: "\e00c";
}
.icon-facebook:hover {
	color: #3B5998;
}
.icon-google-plus:hover {
	color: #f2321c;
}
.icon-feed:hover {
	color: #ff9600;
}
.icon-mail:hover {
	/*color: #b2aea5;*/
	color: #39b54a;
}



/* HEADER */

header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	/*background-color: rgba(25, 25, 25, 0.7);*/

}

h1 {
	font-family: 'Julius Sans One', serif;
	font-weight: 400;
	/*color: #b2aea5;*/
	color: #333;

}

h1::first-letter {
	font-size: 1.025em;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	color: #636363;
	/*margin-top: 70px;*/
}



/* FORM */

.contact-container {
	margin: 0 auto;
	height: auto;
	margin-top: 20px;
}

form {
	margin-top: 20px;
}
form span {
	vertical-align: middle;
    display: block;
    width: 100%;
}

legend,
label {
	font-family: 'Quicksand', sans-serif;
	color: #636363;
}
label {
	float: left;
	width: 160px;
}

legend {
	font-size: 1.3em;
	font-weight: 400;
}

fieldset {
	width: 100%;  
    margin-bottom: 15px;
    padding: 5px;
    /*background-color: rgba(25,25,25,0.3);*/
}

input[type=text],
input[type=email],
textarea {
	/*width: 75%;*/
	background-color: #bbb;
}

input[type=submit] {
	width: 200px;
	background-color: rgba(25,25,25,1);
	padding:10px;
	color: #bbb;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	border: 1px solid #bbb;
	margin: 0 auto;
	display: block;
}


li.details {
	padding: 10px 0;
}

.errors {
    display:block;
    color: #ff0000;
    font-weight: 300;
}

.required {
	color: #ff6347;
	display: inline;
}

.icons {
	width: 230px;
	margin: 0 auto;
	display: block;
}

.s-i-f,
.s-i-t,
.s-i-r,
.s-i-g-p,
.s-i-500 {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 5px;
}

.s-i-f { /* facebook icon */
    background-color: #3b5998;
}

.s-i-t { /*twitter icon*/
    background-color: #00aced;
}

.s-i-r { /* rss icon */
	background-color: #ff8300;
}

.s-i-500 { /* 500px icon */
	background-color: #444;
}

.s-i-g-p { /* google plus icon */
	background-color: #d14836;
}

/* FOOTER */

footer {
		text-align: center;
		margin: 0 auto;
		display: block;
	}


footer p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #555;
	padding-top: 15px;
}

.social-media {
	text-align: center;
}

.social-icon {
	color: #b2aea5;
	font-size: 1.2em;
}

.copyright {
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	color: #b2aea5;
	text-align: center;
*/}

	/* FIXED FOOTER */

	footer.fixed {
		position: fixed;
		bottom: 0;
/*		background-color: rgba(25, 25, 25, 0.7);*/		
		width: 100%;
		height: 10%;
		min-height: 58px;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	footer.fixed p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #555;
		padding-top: 15px;
	}

	/* STICKY FOOTER */

	.container {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -10%;
		background-color: #;
	}

	footer, .push {
		height: 10%;
	}

	footer.sticky {
		background-color: rgba(25, 25, 25, 1);
	}

	.push {
		/*background-color: #121214;*/
		background: url('../images/dark_wall.png');
		/* Credit: Dark Wall background image is from Subtle Patterns: http://subtlepatterns.com */

	}




